.yellow-text {
  background-color: yellow;
}
.text-margin-top {
  margin-top: 40px;
}

h4 {
  margin-left: 50px;
}

h3 {
  margin-left: 30px;
}

li {
  margin-left: 50px;
}

.box {
  text-align: center;
}

.centered-h3 {
  text-align: center;
}

.main-img {
  display: block;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  border-radius: 9px;
}

.lion-section-box {
  color: red;
  border: 3px solid red;
  margin: 0 auto;
  text-align: center;
  width: 83%;
}

table {
  margin: auto;
  margin-bottom: 50px;
}

.th {
  text-align: center;
  border: 2px solid #111;
}

.td {
  text-align: center;
  padding: 20px 10px;
  border: 3px solid #111;
}
